.hourly {
    border: 2px solid rgb(173, 173, 173);
    margin-left: 35px;    
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}